<style>
  :host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --gray-900: oklch(19.37% 0.006 300.98);
    --vidid-pink: oklch(69.02% 0.277 332.77);
  }

  #blue {
    color: var(--bright-blue);
  }

  #darkgray {
    color: var(--gray-900);
  }

  #vividpink {
    color: var(--vidid-pink);
  }

</style>

<main class="main">
  <div class="content">
    <p [id]="pcolor">Hello my name is {{name}}</p>
    <button (click)="changeColor()">change colour</button>
    <form>
      <!-- 2 ways databiding / need formsModul as import in app.components-->
      <input type="text" [(ngModel)]="name" name="name" placeholder="write name here">
    </form>

    <!-- @if (users.length > 0) { -->
      <ul>
        @for (user of users; track $index) {
          <li>{{user.name}}</li>
        } @empty {
          <li>there is no user</li>
        }
      </ul>

      <ul>
        <li *ngFor="let i of users">{{i.name}}</li>
      </ul>

      <app-likes></app-likes>
  </div>
</main>
